body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: blue;
  background-color: #DBDBDB;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.LogoHolder{
  width: 5vw;
  display: flex;
  padding-top: 15px;
  justify-content: center;
}

#logo {
  width: 50px;
  height: 50px;
}

.ChannelList {
  height: 100vh;
  width: 25vw;
  background-color: #F4F4F4;
  padding: 25px;
  color: #333333;
  font-weight: bold;
  font-size: 1.5em;
}

.MessageList {
  height: 100vh;
  width: 70vw;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.ChannelTitle {
  border-bottom: 1px solid #DBDBDB;
  height: 150px;
  padding-left: 40px;
  color: #333333;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.Messages {
  height: 100%;
  padding-left: 40px;
  padding-top: 40px;
}

.Message {
  height: 100px;
}

.topLine {
  display: flex;
  align-items: flex-end;
}

.userName {
  color: blue;
  font-weight: bold;
}

.timeStamp {
  font-size: .8em;
  color: #929292;
}

.messageContent {
  margin-top: 5px;
  color: #333333;
}

.MessageForm {
  display: flex;
  border-top: 1px solid #DBDBDB;
  height: 150px;
  justify-content: center;
}

#inputMessage {
  width: 800px;
  border-radius: 0 !important;
}

#messageButton {
  width: 100px;
  border-radius: 0 !important;
  font-weight: bold;
}
